.button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.button-designe {
  padding: 15px 25px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #34aa38;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px rgb(4, 53, 7);
  text-align: center;

  &:hover {
    background-color: #28862b;
    cursor: pointer;
  }

  &:active {
    background-color: #3e8e41;
    box-shadow: 0 5px rgb(4, 53, 7);
    transform: translateY(4px);
  }
}

.button.is-hidden {
  display: none;
}

.button > .spinner.is-hidden {
  display: none;
}
