.info {
  padding: 20px;
  width: 300px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
}

.info-error {
  background: #0a55b8;
}
