/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */

// Стили для файла с примером HTML-фрагмента
@import './body';
@import './img';
@import './search-form';
@import './btns';

/* Gallery List */
.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
  padding: 0;
  margin: 0;
  list-style: none;
  max-width: calc(100vw - 80px);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.gallery-item {
  border: 1px solid gray;
  border-radius: 10px;
  height: 320px;
  overflow: hidden;
}

.gallery img {
  display: block;
  padding: 5px;
  border-radius: 10px;
  // width: 100%;
  height: 200px;
  object-fit: cover;
}

.stats {
  padding: 10px;
}

.stats-item {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  font-size: 12px;
  letter-spacing: 0.04em;
}

.material-icons {
  margin-right: 5px;
  font-size: 14px;
  color: tomato;
}

// .stats-item:not(:last-child) {
//   margin-bottom: 5px;
// }

// .gallery a {
//   text-decoration: none;
//   color: #2a2a2a;
// }

.form-control {
  padding: 5px 10px;
  margin-right: 10px;
  min-width: 200px;
  min-height: 30px;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
}

.form-inline {
  margin: 0;
  padding-top: 20px;
}

// Toastify

.info {
  padding: 20px;
  width: 440px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
}

.info-error {
  background: linear-gradient(to right, #fd1d1d, #fcb045);
}
